*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	background-color: royalblue;

}
a, a:hover{
	text-decoration: none;
	color:white;

}

ul{
	list-style: none;

}
li{
	display: inline-block

}

.header{
	width:100%
	height:100vh;
	background-color: green;
}
.header .nav-bar{
	width:90%;
	height:80px;
	margin: auto;
	color:white;
	display: flex;
	 justify-content: space-between;
	 align-items: center;
	 padding-top: 80px; 
}
.header .nav-bar .logo{
	margin-left: 50px;
}

.header .nav-bar .logo a{
	font-size: 30px;
	font-weight:700;
	text-transform: uppercase;
}

.header .nav-bar .menu ul li{
	margin-right:30px;

}